MyBot
Makefile
*.hlt
*.log
*~
*.pyc
*.pyo
__pycache__/
*.class
*.ipr
*.iws

# Visual Studio
*.vs/
.vs/
*/.vs/

HaliteAI/Debug/
HaliteAI/Release/
HaliteAI/x64/
HaliteAIDebug.exe
HaliteAIDebug.pdb
HaliteAIRelease.exe
HaliteAIRelease.pdb

out/

.idea/
cmake-build-*/